body {
  background: #f3f6f8;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #0a090a;
  font-size: 17px;
  background: #bcd0f6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
button {
  margin: 25px;
}

.btn:hover {
  background: #baddf2;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  border-radius: 5px;
  background-color: #ccd5e6;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

p {
  font-size: large;
}
.genre {
  text-align: center;
}
.movie {
  display: flex;
  justify-content: space-evenly;
}
